<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Open Wallet Score</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/favicon-16x16.ico" sizes="16x16">
	<link rel="icon" type="image/x-icon" href="/favicon-32x32.ico" sizes="32x32">
	<link rel="icon" type="image/x-icon" href="/favicon-48x48.ico" sizes="48x48">
	<link rel="icon" type="image/x-icon" href="/favicon-192x192.ico" sizes="192x192">
	<meta name="description" content="">
</head>
<body>
	<div id="container"></div>
	<div id="portal"></div>
	<script src="/static/bundle.js"></script>
</body>
</html>
